
*{
    margin: 0;
    padding:0;
    font-family: "Oswald", sans-serif;
}

.main_box{
    background: url("imp-1.jpg");
    height: 100vh;
    background-size: cover;
}

.btn_one{
    color: #3D211A;
    font-size: 35px;
    position:absolute;
    left: 10px; 
    opacity: 1;
    
}

.sidebar_menu{
    position: fixed;
    height: 100vh;
    border-radius: 10px;
 left: -300px;
 width: 300px;
background-color: rgba(111, 77, 56 ,0.5);
 box-shadow: 0 0 20px rgba(111, 77, 56,0.5 );
 transition: all 0.3s linear;
}

.sidebar_menu .logo{
    position: absolute;
    width: 100%;
    line-height: 60px;
    box-shadow: 0 0 20px rgba(111, 77, 56,0.5 );
}

.sidebar_menu .logo a {
    position: absolute;
    left: 100px;
    color: #f5f5dc;
    text-decoration: none;
    font-size: 30px;
    font-weight: 500;
}

.sidebar_menu .btn_two{
    position: absolute;
    color: #3D211A;
    font-size: 30px;
    line-height: 60px;
    left: 250px;
    opacity: 0;
}
    
.sidebar_menu .menu {
    position: absolute;
    width: 100%;
    top: 70px;
}

.sidebar_menu .menu li {

    padding: 7px ;
    margin-top: 6px;
    margin-left: 8px;
}

.sidebar_menu .menu i,a {
    font-size: 20px;
    color: #f5f5dc;
    text-decoration: none;
}

.sidebar_menu .menu i {
    padding-right: 8px;
}

.sidebar_menu .social_media {
    position: absolute;
    left: 65px;
    bottom: 50px;
}

.sidebar_menu .social_media i{
color: #f5f5dc;
opacity: 0.5;
padding: 5px;

}
#check{
    display: none;
}

.sidebar_menu .menu li:hover{
    box-shadow: 0 0 20px rgba(111, 77, 56,0.5 );
}

.sidebar_menu .social_media i:hover{
    opacity: 2;
    transform: scale(1.1);
}

#check:checked ~ .sidebar_menu{
    left: 0;
}

#check:checked ~ .sidebar_menu .btn_two{
    opacity: 1;
}

#check:checked ~ .btn_one{
    opacity: 0;
}

